{% extends 'base.html' %}

{% block content %}
{% if page == 'register' %}
    <h2>Register User</h2>
    <form action="{% url 'register' %}" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class= "form-field">
                <label for="">{{field.label}}</label>
                {{field}}
                {% comment %} {% if field.help_text %}
                    <small>{{field.help_text}}</small>
                {% endif %} {% endcomment %}

                {% for error in field.errors %}
                    <p style="color:red;">{{error}}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% else %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" id="" placeholder= "Username">
        <input type="password" name="password" id="" placeholder="Enter password">
        <button type="submit">Login</button>

        <p>Don't have an account? <a href="{% url 'register' %}">Sign Up</a></p>
    </form>
{% endif %}
{% endblock content %}