* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
    font-family: 'Montserrat', sans-serif;
}

Html { height: 100%}

Body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
 }
 .input {
     padding: 0.5em;
     margin: 0.3em;
 }

 .nav-container{
   border-bottom: solid 1px #4B4B4B;
  }
  
  nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      max-width:1100px;
      margin: auto;
      padding: 0;
      
      color:#4B4B4B;
        
  }
  
  nav ul{
      display: flex;
      flex-direction: row;
      list-style: none;    
      text-align: center;   
  }
 
  
 h1{
    color:#4B4B4B;
    width:200px;
    letter-spacing: 2px;
    font-size: 1.8em;
}

 a{
    text-decoration: none;
    color:#4B4B4B;
    padding:10px;
}
a:hover{
  background-color: #4B4B4B;
  color:#d4d1d1;
  border-radius: 5px;
  transition:ease-in 0.2s;
}

.content{
    min-height: 200px;
    max-width: 1100px;
    margin: auto;    
    padding:40px;
    padding-top: 20px;
    flex-grow: 1;
}
.content h1,h3{
    width: 100%;
    text-align: center;
    padding-bottom:0.5em ;
}


.posts{
    padding: 0.5em;
    min-width: 400px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 5px;
    border: solid 1px #4B4B4B;
}

.posts a{
    flex:1;
}

.edit{
    width: 80px;
    color: green;
}

.delete{
    width: 80px;
    color: red;
}
